streamlit==1.38.0
torch==1.13.0
spacy==3.5.0
huggingface-hub==0.23.4
accelerate==0.27.2
transformers==4.36.2
sentence-transformers==2.6.1
keybert==0.7.0
pdfplumber==0.10.2
python-docx==1.1.0
numpy==1.26.4
git+https://github.com/asahi417/lm-question-generation.git
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
